body {
    color: white;
    background-image: url("https://st.perplexity.ai/estatic/0b226c450798410ac541646c86ec31afd840e5beab817a5d84fa821e7db61981ec84c3b4a3f072a7a2e1899c9fb06c6e3180b3a09dc4455c8d08b57b65e43697ca983efae9d9493e532a51692c0e11388901c099dd7536177a8482123c0f9e61");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 10px 10px 10px;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-shadow: 10px 10px 10px black;
    font-weight: bold;

}