body {
    color: white;
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 10px 10px 10px;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-shadow: 10px 10px 10px black;
    font-weight: bold;

}