label {
    font-size:18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-shadow:black, 10px;
}

body {
    background:black;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

H1 {
    text-align:center;
    font-size:xx-large;
    border-style:solid;
    border-radius: 5px;
    border-color:white;
    border-width: 5px;
    border-top: 5px;
    border-left:5px;
    border-right:5px;
    margin-top: 8px;
    padding:8px;
}
body {
    color:white;
}
